networks:
  app-network:
    driver: overlay

services:
  backend:
    image: phuocphung/backend_api:latest
    # build: # Swarm mode ko hỗ trợ
    #   context: .
    #   dockerfile: backend/Dockerfile
    env_file:
      - ./backend/.env
    networks:
      - app-network
    ports:
      - "5000:5000"
    deploy:
      replicas: 3
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 30s
      update_config:
        parallelism: 1
        delay: 5s
      resources:
        limits:
          cpus: "0.50"
          memory: 512M
  frontend:
    image: phuocphung/frontend_app:latest
    # build: # Swarm mode ko hỗ trợ
    #   context: .
    #   dockerfile: frontend/Dockerfile
    networks:
      - app-network
    ports:
      - "3000:80"
    depends_on:
      - backend
    deploy:
      replicas: 1
      restart_policy:
        condition: any