networks:
  app-network:
    driver: bridge

services:
  backend:
    container_name: backend_api
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
    - "5000:5000"
    env_file:
      - ./backend/.env
    networks:
      - app-network
  frontend:
    container_name: frontend_app
    build:
      context: .
      dockerfile: frontend/Dockerfile
    networks:
      - app-network
    ports:
      - "3000:80"
    depends_on:
      - backend