.header-container {
  .navbar-toggler {
    border: none;
  }
}

.tps-auth-buttons {
  box-sizing: border-box;
  line-height: 40px;
  height: 40px;
  margin: 0 12px 0 auto;

  ul {
    border: 1px solid var(--custom-gray);
    border-radius: 999px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    cursor: pointer;
    overflow: hidden;

    li {
      padding: 0 11px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;

      &:hover {
        background-color: #081828;

        a {
          color: #fff;
        }
      }

      a {
        text-decoration: none;
        color: #000;
        text-align: center;
      }
    }

    li:nth-child(2) {
      background-color: #0167F3;
      border-radius: 0 50px 50px 0;

      &:hover {
        background-color: #081828;
      }

      a {
        color: #fff;
      }
    }
  }
}

.tps-user-brief-info {
  box-sizing: border-box;
  height: 45px;
  margin: 0 12px 0 auto;
  border: 1px solid var(--custom-gray);
  border-radius: 999px;
  display: flex;
  align-items: center;

  .user-greeting {
    margin: 0 10px;
    line-height: 10px;

    p {
      line-height: normal;
      color: #555;
    }
  }

  img {
    width: 40px;
    height: 40px;
    margin-left: 2px;
    border-radius: 50%;
    border: 1px solid var(--custom-gray);
    object-fit: cover;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    color: #000;
  }

  &:hover {
    background-color: #081828;
    cursor: pointer;

    p {
      color: #fff;
    }
  }
}

.no-style-popover {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.user-popover-menu {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--custom-gray);
  border-radius: 20px;
  padding: 0;
  position: relative;
  top: -1px;
  z-index: -1;
  overflow: hidden;

  .popover-item {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;

    a {
      color: #000;
    }

    &:hover {
      background-color: #f5f5f5;

      a {
        color: #0167F3;
      }
    }
  }

  hr {
    margin: 0;
  }
}