.tps-breadcrumbs {
  padding: 10px 24px;
  // font-size: 14px;
  color: #6c757d;
  margin-bottom: 8px;
  z-index: 2;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.075);

  .breadcrumb-item {
    text-decoration: none;
    font-weight: 500;
    color: #212529;
  }

  .current {
    color: #6c757d;
    font-weight: 500;
    cursor: text;
  }
}