body {
  margin: 0;
  font-family: 'Segoe UI', 'Be Vietnam', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tps-content-container {
  background-color: #f9f9f9;
}

// custom error message style
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
}

.tps-error-icon {
  margin-right: 3px;
  position: relative;
  top: -2px;
}

// animation 
.tps-hover-animation {
  transition: all 0.4s ease-in-out;
}
