body {
  margin: 0;
  font-family: 'Segoe UI', 'Be Vietnam', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tps-content-container {
  background-color: #e4e6e7;
  padding: 40px 0;
}

// custom error message style
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
}

.tps-error-icon {
  margin-right: 3px;
  position: relative;
  top: -2px;
}

// animation 
.tps-hover-animation {
  transition: all 0.4s ease-in-out;
}

.tps-animation-transition {
  transition: all 0.5s ease-in-out;
}


// fix for tinymce editor in modal
.tox-tinymce-aux {
  z-index: 999999 !important;
}

// ============= Technical Table Content Styles ============= //
.tps-technical-table-content {
  // table {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-collapse: separate;
  font-family: "Inter", "Segoe UI", sans-serif;
  background-color: #fff;
  border-radius: 10px;
  border-spacing: 0;
  overflow: hidden;
  // }

  tr {
    border-bottom: 1px solid #f1f1f1;

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    padding: 8px 16px;
    vertical-align: middle;

    &:first-child {
      width: 35%;
      color: #374151;
      background-color: #f2f2f2;
      border-right: 1px solid #e4e4e7;
    }

    &:last-child {
      background-color: #fff;
      border-bottom: 1px solid #e4e4e7;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #e4e4e7;
    }
  }
}