.header-container {
  .navbar-toggler {
    border: none;
  }
}

.tps-auth-buttons {
  box-sizing: border-box;
  line-height: 40px;
  height: 40px;
  margin: 0 12px 0 auto;

  ul {
    border: 1px solid #eee;
    border-radius: 999px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    cursor: pointer;
    overflow: hidden;

    li {
      padding: 0 11px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;

      &:hover {
        background-color: #081828;

        a {
          color: #fff;
        }
      }

      a {
        text-decoration: none;
        color: #000;
        text-align: center;
      }
    }

    li:nth-child(2) {
      background-color: #0167F3;
      border-radius: 0 50px 50px 0;

      &:hover {
        background-color: #081828;
      }

      a {
        color: #fff;
      }
    }
  }
}

.tps-user-brief-info {
  box-sizing: border-box;
  height: 45px;
  margin: 0 12px 0 auto;
  border: 1px solid #eee;
  border-radius: 999px;
  display: flex;
  align-items: center;

  .dropdown-toggle {
    display: flex;
    padding: 0 10px 0 2px;

    *:not(p) {
      display: inline-block;
    }
  }

  .user-greeting {
    margin: 0 10px;
    line-height: 10px;

    p {
      line-height: normal;
      color: #555;
    }
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    object-fit: cover;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    color: #000;
  }

  &:hover {
    background-color: #081828;
    cursor: pointer;

    p {
      color: #fff;
    }

    // > .dropdown-menu { // con trục tiếp
    //   display: block;
    //   position: absolute;
    //   inset: 0px 0px auto auto;
    //   margin: 0px;
    //   transform: translate3d(-140.8px, 126.4px, 0px);
    // }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;

    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;

      &:hover {
        background-color: #f5f5f5;
        color: #0167F3;
      }
    }

    hr {
      margin: 0;
    }
  }
}